<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MercadoLibre</title>
  </head>
  <!---------- Acá comienza todo lo del header ---------------->
  <body>
    <header>
    <span> <img src= "images/logo-mercado-liebre.svg" height="250" width="250"> </span> 
    <div> <h5> Lugar para poner la barra de búsqueda</h5> </div>
    <div> <h4>Comprá en cuotas y sin tarjeta de crédito</h4> </div>
    <div> <img src= "images/img-home-banner.jpg" height="250" width="800"> </div>

    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>            
    </ul>
    <ul>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis Compras</a></li>          
    </ul> 

    </header>
<!---------- Acá finaliza todo lo del header ---------------->

<!---------- Acá comienza todo lo de section ---------------->
    <section>
            <h2>Basado en tu última visita</h2>
            <ul>
                <a href="#"><img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="500" height="500"></a>
                <li>$6.770</li>
                <li>40% off</li>
                <li><B>Cafetera Moulinex</B></li>
            </ul>               
            

            <ul>
                <li><a href="#"><img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="500" height="500"></a></li>
                <li>$230.000</li>
                <li>20% off</li>
                <li><B>MacBook Pro 2019</B></li>
            </ul>     

            <ul>
                <li><a href="#"><img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="500" height="500"></a></li>
                <li>$70.500</li>
                <li>10% off</li>
                <li><B>Samsung Galaxy s10</B></li>
            </ul>     

            <ul>
                <li><a href="#"><img src="images/img-tv-samsung-smart.jpg" alt="Samsung TV smart" width="500" height="500"></a></li>
                <li>$23.200</li>
                <li>5% off</li>
                <li><B>Samsung TV smart</B></li>
            </ul>
    </section>

    <section>
            <h2>Sección de ofertas</h2>
            <ul>
                <li><a href="#"><img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="500" height="500"></a></li>
                <li>$6.770</li>
                <li>40% off</li>
                <li><B>Cafetera Moulinex</B></li>
            </ul>               
            

            <ul>
                <li><a href="#"><img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="500" height="500"></a></li>
                <li>$230.000</li>
                <li>20% off</li>
                <li><B>MacBook Pro 2019</B></li>
            </ul>     

            <ul >
                <li><a href="#"><img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="500" height="500"></a></li>
                <li>$70.500</li>
                <li>10% off</li>
                <li><B>Samsung Galaxy S10</B></li>
            </ul>     

            <ul>
                <li><a href="#"><img src="images/img-tv-samsung-smart.jpg" alt="Samsung TV smart" width="500" height="500"></a></li>
                <li>$23.200</li>
                <li>5% off</li>
                <li><B>Samsung TV smart</B></li>
            </ul>
    </section>            
       
    
<!---------- Acá finaliza todo lo de section ---------------->

<!---------- Acá comienza todo lo del footer ---------------->
    <footer>

        <section>
            <div> </div><h3>Pagá con tarjeta o en efectivo</h3> </div>
            <div> <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p> </div>

            <div> <h3>Envío gratis desde $2.500</h3> </div>

            <div> <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p> </div>
        
        
           <div> <h3>Seguridad, de principio a fin</h3> </div>

            <div> <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p> </div>
        
        
            <div> <h3>Seguridad, de principio a fin</h3> </div>

            <div> <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p> </div>
           
        
           <div> <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3> </div>
        </section>  

    </footer>
<!---------- Acá finaliza todo lo del footer ---------------->
  </body>
</html>